/* src/styles/global.css */
/* Add Slick styles */

/* global.css or index.css */

:root {
  --light-blue: #8ecae6; /* Light Blue */
  --medium-blue: #219ebc; /* Medium Blue */
  --dark-blue: #023047; /* Dark Blue */
  --yellow: #ffb703; /* Yellow */
  --orange: #fb8500;
  --light-orange: #ede0c0; /* Orange */
}

/* Optionally, you can add some global styles here as well */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--light-orange);
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
