:root {
  --light-blue: #8ecae6; 
  --medium-blue: #219ebc; 
  --dark-blue: #023047; 
  --yellow: #ffb703;
  --orange: #fb8500;
  --light-orange: #ede0c0; 
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--light-orange);
}

.home-page * {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
} 
