
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --light-blue: #8ecae6;
  --medium-blue: #219ebc;
  --dark-blue: #023047;
  --yellow: #ffb703;
  --orange: #fb8500;
  --error-color: #ff4d4d; 
  --light-background: #f2f2f2;
  --input-border: #ccc;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-background); 
  padding: 20px; 
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.login-form {
  background-color: wheat;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  font-family: "Raleway", sans-serif; 
  transition: transform 0.3s ease; 
}

.login-form:hover {
  transform: scale(1.02); 
}

.login-form h2 {
  margin-bottom: 1.5rem;
  font-size: 24px;
  color: var(--dark-blue);
  text-align: center;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  font-size: 16px;
  color: var(--dark-blue); 
  transition: border-color 0.3s ease;
}


.form-group input:focus {
  border-color: var(--medium-blue); 
  outline: none;
  box-shadow: 0 0 8px rgba(33, 158, 188, 0.3); 
}

.login-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--medium-blue); 
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: var(--dark-blue); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.error-message {
  color: var(--error-color); 
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

p {
  margin-top: 1rem;
  text-align: center;
  color: var(--dark-blue); 
  font-size: 14px;
}

p a {
  color: var(--orange);
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-container {
    padding: 10px;
  }

  .login-form h2 {
    font-size: 22px;
  }

  button {
    font-size: 14px;
  }
}
